@{
    string wz = Model.showType == 0 ? "刷卡" : "实时";
    Layout = "~/Views/Shared/_SchoolBusLayout.cshtml";
    ViewBag.Title = "校车"+wz+"位置";
}
@using SchoolBusWXWeb.Models.ViewData
@model AddressModel
@section Css{
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link href="~/css/tools/reset.css" rel="stylesheet" />
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
        }

        .amap-marker-label {
            position: absolute;
            z-index: 2;
            border: 1px solid ghostwhite;
            background-color: white;
            cursor: default;
            padding: 3px;
            font-size: 12px;
            line-height: 14px;
            width: 150px;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
            line-height: 20px;
            white-space: normal !important;
        }

        body {
            background: #f2f2f2;
            margin-bottom: 50px
        }
    </style>
}
<img id="fix_btn" class="fix_btn" src="~/img/map_reset.png" style="display:none">
<!-- 轮播图 -->
<div class=" address__banner">
    <div class="mui-slider">
        <!-- 如果要添加无缝轮播图 轮播图图片容器要添加一个mui-slider-loop 类名 -->
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#"> <img src="~/img/lb1.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb1.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb2.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb3.jpg" /></a>
            </div>
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#"><img src="~/img/lb1.jpg" /></a>
            </div>
        </div>
        <!-- 轮播图的小圆点容器 -->
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
</div>

<!-- 地图上面信息栏 -->
<div class="address_name">
    <div class="box">
        <img src="~/img/address_name.png" />
        <span>@(Model?.student)</span>
    </div>
    <div class="box">
        <button id="setFullMap">放大地图</button>
    </div>
</div>

<!-- 高德地图 -->
<div class="map_box">
    <div class="map_btn">
        @if (Model.showType == 1)
        {
            <div id="realLocation" class="tab1 active">实时位置</div>
            <div id="cardLocation" class="tab2">刷卡位置</div>
        }
        else
        {
            <div id="cardLocation" class="tab1 active">刷卡位置</div>
            <div id="realLocation" class="tab2">实时位置</div>
        }
    </div>
    <img class="map_reset" id="map_reset" src="~/img/map_reset.png">

    <button class="mui-icon mui-icon-closeempty" id="closeFullMap"></button>
    <div id="container" class="address_map"></div>
</div>

<!-- 广告内容 -->
<div class="address_fix">
    <img src="~/img/address_bottom.png" />
</div>
<img class="address_html" src="~/img/html2.png" />

<!--底部导航-->
<nav class="mui-bar mui-bar-tab" id="nav">
    <a class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon1"></span>
        <span class="mui-tab-label">@(wz)位置</span>
    </a>
    <a class="mui-tab-item " id="calendar">
        <span class="mui-icon mui-icon2"></span>
        <span class="mui-tab-label">刷卡记录</span>
    </a>
    <a class="mui-tab-item" id="welfareMall">
        <span class="mui-icon mui-icon3"></span>
        <span class="mui-tab-label">福利商城</span>
    </a>
</nav>

@section Scripts{
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dc057fdc90b12e88c567293b0ae3f4cb&plugin=AMap.Geocoder"></script>
    <script>
        var setFullMapBtn = $('#setFullMap');
        var addressMap = $('.address_map');
        var closeFullMap = $('#closeFullMap');
        var fix_btn = $('#fix_btn');
        var zhuangtai = true;
        var province = "辽宁省";
        var city = "沈阳市";
        var district = "";
        var delayed = 10000;  // 间隔更新时间
        var gps = [@(Model?.flng), @(Model?.flat)];
        var resLnglat = [123.507758, 41.694648];
        var geocoder, marker;

        // 放大地图
        setFullMapBtn.on('click', function () {
            fix_btn.css({
                'display': 'block'
            });
            addressMap.css({
                'position': 'fixed',
                'z-index': 9999,
                'left': 0,
                'top': 0,
                'right': 0,
                'bottom': 50,
                'overflow': 'auto',
                'height': 'auto',
                'width': '100%'
            });
            closeFullMap.css('display', 'block');
        });

        // 关闭放大地图
        closeFullMap.on('click', function () {
            addressMap.removeAttr('style');
            closeFullMap.css('display', 'none');
            fix_btn.css({ 'display': 'none' });
        })

        // 刷卡位置跳转
        $("#cardLocation").click(function () {
            window.location.href = "/SchoolBus/GoAddress?showType=0&cardLogId=@(Model?.cardLogId)"
        });

        // 实时位置跳转
        $("#realLocation").click(function () {
            window.location.href = "/SchoolBus/GoAddress?showType=1";
        });

        // 考勤查看跳转
        mui('body').on('tap', '#calendar', function () {
            location.href = '/SchoolBus/GoCalendar?wxid=' + openId;
        });

        // 福利商城跳转
        mui('body').on('tap', '#welfareMall', function () {
            location.href = '/erweima'; // 跳转到二维码页面
        });

        // 顶部轮播图
        var gallery = mui('.mui-slider');
        gallery.slider({
            interval: 5000
        });

        // 向下小箭头
        var intervalid = null;

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() === $(document).height()) {
                clearInterval(intervalid);
                intervalid = null;
                $('.address_fix').css('display', 'none');
            } else {
                if (!intervalid) {
                    intervalid = setInterval('showhideTag()', 500);
                }
            }
        });
        function showhideTag() {
            $(".address_fix").toggle();
        }

        intervalid = setInterval('showhideTag()', 500);

        // 高德地图
        var map = new AMap.Map('container', {
            resizeEnable: true,    // 是否监控地图容器尺寸变化
            zoom: 15,              // 初始化地图层级
            center: resLnglat      // 初始化地图中心点
        });
        map.on('complete', function () {
            convertFrom();
        });

        // GPS坐标 -> 高德坐标
        function convertFrom() {
            AMap.convertFrom(gps, 'gps', function (status, result) {
                if (result.info === 'ok') {
                    resLnglat = result.locations[0];
                    map.setCenter(resLnglat); // 地图中心点
                    regeoCode();
                }
            });
        }

        // 根据经纬度标记自定义点
        function regeoCode() {
            if (!geocoder) {
                geocoder = new AMap.Geocoder({ // 逆地理编码（坐标 -> 地址）
                    city: "010",               // 城市设为北京，默认：“全国”
                    radius: 1000               // 范围，默认：500
                });
            }
            if (!marker) {                      // 点标记
                marker = new AMap.Marker({
                    content: '<img style="height: 30px" class="position_ico" src="/img/position_ico.png" />',
                    offset: new AMap.Pixel(-9, -15)
                });
                map.add(marker);
            }
            geocoder.getAddress(resLnglat, function (status, result) {
                if (status === 'complete' && result.regeocode) {
                    $("#address_map").show();
                    var address = result.regeocode.formattedAddress;
                    logMapinfo();
                    address = address.replace(province, "").replace(city, "");
                    console.log(address);
                    marker.setLabel({                        // 设置label标签
                        offset: new AMap.Pixel(-106, -108),  // 修改label相对于maker的位置
                        content: '<div class="map_text">' +
                            '<a id="label" style="z-index: 99999;display: block;"  href="javascript:;"><img class="map_position" src="/img/map_position.jpg"></a>' +
                            '<span style="width: 100%;background: #fff;display: block;height: 45px;padding: 0 5px;">' + address + '</span>' +
                            '<img class="position_ico" src="/img/position_ico.png" />' +
                            '</div>'
                    });
                    marker.setPosition(resLnglat); // 小车位置
                    //setTimeout("clickeven()", 1000);
                } else {
                    $("#address_map").hide();
                }
            });
        }

        // 小屏地图定位按钮
        $("#map_reset").click(function () {
            map.setCenter(resLnglat);
        });

        // 全屏地图定位按钮
        $('#fix_btn').click(function () {
            map.setCenter(resLnglat);
        });

        // 省市区字符串替换
        function logMapinfo() {
            //获取当前位置省市区
            map.getCity(function (info) {
                province = info.province;
                city = info.city;
                district = info.district;
            });
        }

        // 地图上屏蔽点击事件，需要主动添加touchstart事件
        function clickeven() {
            let btn = document.getElementById("label");
            btn.addEventListener(
                "touchstart", function (event) {

                },
                false
            );
        }

        // 查看实时位置
        if (@(Model?.showType) === 1) {
            //setInterval(getRuntimePosition, delayed);
            console.log(1);
        }


        function getRuntimePosition() {
            if (@(Model?.showType) === "1") {
                // 获取实时位置
                $.ajax({
                    type: "GET",
                    url: "/webService/getRuntimePosition",
                    data: {
                        devCode: '1124347960'
                    },
                    async: false,
                    success: function (data) {
                        if (data.code === 1) {
                            gps = [data.data.flng, data.data.flat];  // 更新点标记位置及时间
                            convertFrom();
                        }
                    }
                });
            }
        }

    </script>
}