@{
    Layout = "~/Views/Shared/_SchoolBusLayout.cshtml";
    ViewBag.Title = "完善信息";
}
@using SchoolBusWXWeb.Models.PmsData
@model UserAndCardModel
<div class="register_pic">
    <img src="~/img/pic1.jpg" />
</div>
<div class="information">
    <form id="frm" name="frm" method="post" asp-action="SaveCardInfo" autocomplete="off" asp-antiforgery="true">
        <div class="box">
            <h1 class="title">您的信息</h1>
            <div class="erweima">
                <span class="w25">卡号</span>
                <input readonly="readonly" type="text" asp-for="fcode" value="@(Model?.fcode)" maxlength="10" />
                <span asp-validation-for="fcode" style="color: red;"></span>
            </div>
            <div class="erweima" onclick="$(this).find('input').focus()">
                <span class="w25">手机号码</span>
                <span asp-validation-for="fphone" style="color: red"></span>
                <input readonly="readonly" id="phoneNum" type="text" asp-for="fphone" value="@(Model?.fphone)" maxlength="11" />
                <button type="button" class="yanzhengma" onclick="modifyPhoneNum()">修改</button>
            </div>
            <div id="vcoded" class="erweima1" onclick="$(this).find('input').focus()" style="display: none;">
                <span class="w25">验证码</span>
                <input type="text" asp-for="verificationCode" maxlength="6" />
                <span asp-validation-for="verificationCode" style="color: red"></span>
                <button id="generateCode" onclick="sendSmsCode(2)" type="button" class="yanzhengma">获取验证码</button>
            </div>
            <div class="input" id="relationshipname">
                <span>与学生关系</span>
                <input type="text" asp-for="frelationship" value="@(Model?.frelationship)" readonly="readonly" />
                <span asp-validation-for="frelationship" style="color: red"></span>
            </div>
        </div>
        <div class="box">
            <h1 class="title">乘车信息</h1>
            <div class="input" onclick="$(this).find('input').focus()">
                <span style="width: 30%">车牌号<span style="width: 10px; color: red; float: right">*</span></span>
                <input type="text" asp-for="fplatenumber" value="@(Model?.fplatenumber)" maxlength="10" />
                <span asp-validation-for="fplatenumber" style="color: red"></span>
            </div>
            <div class="input" onclick="$(this).find('input').focus()">
                <span style="width: 30%">学生姓名<span style="width: 10px; color: red; float: right">*</span></span>
                <input type="text" asp-for="fname" value="@(Model?.fname)" maxlength="10" />
                <span asp-validation-for="fname" style="color: red"></span>
            </div>
            <div class="input" id="dateSelect2">
                <span style="width: 30%">所在学校<span style="width: 10px; color: red; float: right">*</span></span>
                <input type="text" asp-for="fschoolname" value="@(Model?.fschoolname)" maxlength="50" readonly="readonly" />
                <span asp-validation-for="fschoolname" style="color: red"></span>
            </div>
            <div class="input" onclick="$(this).find('input').focus()">
                <span style="width: 30%">上车位置</span>
                <input type="text" asp-for="fboardingaddress" value="@(Model?.fboardingaddress)" maxlength="50" />
            </div>
            <div class="input" id="dateSelect">
                <span style="width: 30%">出生年月</span>
                <input type="text" asp-for="fbirthdate" value="@(Model?.fbirthdate.ToString("yyyy-MM-dd"))" readonly="readonly" />
            </div>
        </div>
        <button type="submit" class=" btn mui-btn mui-btn-warning">保存信息</button>
    </form>
</div>

@section Scripts{
    <script>
        var schoolList = [];
        var platenumber = $("#fplatenumber").val();
        $(document).ready(function () {
            getSchoolList();
            // 选择出生日期
            $("#dateSelect").click(function () {
                var dtPicker = new mui.DtPicker({
                    type: 'date',
                    beginDate: new Date(1999, 01, 01),  // 设置开始日期
                    endDate: new Date()                 // 设置结束日期
                });
                dtPicker.show(function (selectItems) {
                    var y = selectItems.y.text;  //获取选择的年
                    var m = selectItems.m.text;  //获取选择的月
                    var d = selectItems.d.text;  //获取选择的日
                    var date = y + "-" + m + "-" + d;
                    $("#dateSelect").find('input').val(date);
                });
            });
            // 选择学校
            $("#dateSelect2").click(function () {
                if (platenumber === '') {
                    alert("请先填写车牌号");
                    return;
                }
                setPicker();
            });
            function setPicker() {
                var picker = new mui.PopPicker({ layer: 2 });
                picker.setData(schoolList);
                picker.pickers[0].setSelectedIndex(0);
                picker.show(function (selectItems) {
                    $("#fschoolname").val(selectItems[1].text);
                });
            }
        });
        // 保存信息
        $('#frm').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status === 1) {
                            alert(result.msg);
                            //window.location.href = "/SchoolBus/GoBinding";
                        } else {
                            alert(result.msg);
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (XMLHttpRequest, textStatus) {

                    }
                });
            }
            return false;
        });
        // 获取学校列表并赋值
        function getSchoolList() {
            $.ajax({
                type: "GET",
                url: "/SchoolBus/GetSchoolListByNum",
                data: { platenumber: platenumber },
                success: function (data) {
                    if (data.status === 1) {
                        schoolList = data.data;
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }

        // 修改按钮
        function modifyPhoneNum() {
            $("#vcoded").show();
            $("#phoneNum").attr("readonly", false);
        }
    </script>
}